body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
}

.indicacoestitulo {
    font-size: 40px;
    background-color: lightgrey;
    color: red;
    text-align: center;
}

.sobremim {
    font-size: 40px;
    background-color: lightgrey;
    color: red;
    text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
}

.main-curriculo {
    display: inline-block;
    padding: 30px 0;
    background-color: #FFF8DC;
    text-align: center;
    font-size: 30px;
    width: 80%;
}

.Pagina-Principal {
    display: inline-block;
    padding: 30px 0;
    background-color: #FFF8DC;
    text-align: center;
    width: 80%;
}

strong {
    font-weight: bold;
}

.citacaoari {
    background-color: lightgrey;
    border-radius: 40px;
    width: 250px;
    border-style: hidden;
    margin: 20px 40px;
    float: right;
}

.citacao2 {
    background-color: lightgrey;
    border-radius: 40px;
    width: auto;
    border-style: hidden;
    margin: 20px 40px;
    float: center;
}

cite {
    font-style: italic;
    float: right;
}

.imagempessoal {
    display: inline-block;
    float: right;
    width: 20%;
    position: fixed;
}

blockquote,
footer {
    padding: 25px;
}

.nomecurriculo {
    font-size: 40px;
    background-color: lightgrey;
    color: red;
    text-align: center;
}

.rodape {
    background-color: #000;
    color: #F2FFFC;
    width: 100%;
}

.redessocais {
    width: 40px;
    height: 40px;
    float: right;
    display: inline-block;
}

.carrousel {
    height: 800px;
}

.imagem {
    width: 100%;
    height: 100%;
}

figcaption {
    background-color: lightgrey;
    color: red;
    text-align: center;
    font-size: 30px;
}

.livro {
    width: 100%;
    height: 30%;
}

.summaryvideo {
    font-size: 30px;
    background-color: lightgrey;
    color: red;
    text-align: center;
}

.saibamais {
    font-size: 20px;
    background-color: #000;
    color: aqua;
}